* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-color: rgb(36, 34, 34);
    color: white;

}

/* 
.main {

    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0px;




} */
.main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    /* Ensure content does not exceed viewport width */
    overflow-x: hidden;
    /* Hide horizontal overflow */
}


.uploaded {

    font-size: 20px;
    width: 78%;
    height: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: rgba(86, 80, 80, 0.237);

}

#uploaded-logo {
    width: 30px;
    height: 500px;

}

.input-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-div-tag {
    width: 350px;
    height: 30px;
}

.home {
    width: 1185px;
    height: px;
    background-color: rgba(86, 80, 80, 0.237);
    display: flex;
    align-items: center;

}

.btn-home {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    /* border: 1px 1px 40px 10px solid white; */
    background-color: rgba(38, 36, 36, 0.366);
    color: white;
    justify-content: first baseline;

}

h1 {
    background-color: rgba(86, 80, 80, 0.237);
    text-align: justify;
}

.group-photo {
    padding: 20px;
}

.bamardhi {
    margin-left: 690px;
    justify-content: space-between;
    width: 78%;
    padding: 20px;
}

.bamardhi button {
    width: 120px;
    height: 40px;
}

.movies-main {
    width: 78%;
    text-align: center;
    justify-content: space-around;
}

.movie-card-img {
    width: 250px;
    height: 350px;
}

.year {
    justify-content: space-around;
}

.movie-branch-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    width: calc(20% - 20px);
    /* 20% width with spacing between cards */
    margin: 10px;
    /* Space between cards */
}