* {
    padding: 0%;
    margin: 0%;
}

body {
    background-size: cover;
    background-color: rgba(248, 46, 46, 0.781);
    color: white;

}

.main {

    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0px;




}

.uploaded {

    font-size: 20px;
    width: 78%;
    height: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: rgba(86, 80, 80, 0.237);

}

#uploaded-logo {
    width: 30px;
    height: 500px;

}

.input-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-div-tag {
    width: 350px;
    height: 30px;
}

.nav-bar {
    width: 1180px;

    height: 100px;
    background-color: rgba(86, 80, 80, 0.237);
    border-radius: 5px;


}

/* 

.year {
    margin-left: 150px;
} */



/* 
.movie-name {
    margin-left: 230px;
} */



h1 {
    background-color: antiquewhite;
}